<head>
    <link rel="stylesheet" href="style/popups/stylePopups.css">
</head>

<section th:fragment="popupAlert" id="popup" class="sectionPopupSave">

    <div class="popupSave">
        <img th:src="@{/images/icons/iconInterrogation.svg}" alt="icone salvar">
        <p>Deseja realmente excluir esses dados?</p>
        
        <div class="flexContainerRowBetween" >
            <button onclick="closePopups()"  class="buttonPopup buttons buttonPopupAlert buttonPopupAlertCancel ">Cancelar</button>
            <button  id="buttonPopupAlertDelet" class="buttons buttonPopupAlert buttonPopupAlertExit">Excluir</button>
        </div>
    </div>

    <script th:src="@{/script/closePopup.js}"></script>
</section>