@media (max-width: 1550px){

    :root{
        --color-blue: #132f3e;
        --collor-white: #fdfcf9;
        --color-gray: #808080;
    }

    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        font-family: "Nunito", sans-serif;
        color: var(--collor-white);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .content{
        background-color: var(--color-blue);
        padding: 3rem;
        border-radius: 20px;
        width: 30%;
        
    }
    
    h1{
        text-align: center;
        font-family: "Libre Caslon Text";
    }
    
    .titulo1{
        text-align: center;
        font-size: 80px;
    }
    
    .titulo2{
        text-align: center;
        font-size: 40px;
        margin-bottom: 10rem;
    }
    
    .content form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .inputs{
        padding: 8px 5px;
        margin-top: 1rem;
        background-color: var(--color-blue);
        border: 2px solid var(--color-gray);
        color: var(--collor-white);
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        transition: .5s;
        font-size: 1rem;
    }
    
    .box-select{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .checkbox-container {
        display: flex;
        align-items: center; 
    }
    
    .box-select p {
        margin: 0; 
    }
    
    a{
        color: var(--collor-white); 
        text-decoration: none; 
    }
    
    button[type="submit"] {
        color: var(--color-blue);
        font-weight: bold;
        width: 25%;
        margin: auto; 
        font-size: 18px;
        border: none;
        border-radius: 10px;
        margin-top: 1rem;
        background-color: #ffffff;
        font-family: "Nunito", sans-serif;
        cursor: pointer;
        transition: .3s;
    }
    
    button[type="submit"]:hover{
        font: var(--collor-white);
        background-color: gray;
        font-weight: bold;
        font-size: 18px;
    }

    .span-required{
        display: none;
        font-size: 1rem;
        color: red;
    }
    
    input:focus::placeholder {
        color: var(--collor-white);
        transition: .5s;
    }
    
    .inputs:focus{
        border-color:var(--collor-white);
        transition: .5s;
        outline: none; /* remove a borda ao focar no input */
    }
    
    input:not(:focus) {
        color: var(--color-gray);
        
    }

    .loginError{
        font-size: 16px;
        color: red;
        margin: 0;
        
    }

}