.navBarHeader{
    background-color: var(--backgroudNavBarHead);   
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  
   }

.navBarHeaderList{
    padding-top: 26px;
}

.section-grafic{
    width: 100%;
}

.gridContainerBody{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    height: 100vh;
}

.flexContainercolum{
    display: flex;
    flex-direction: column;
}

.flexContainerRowBetween{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.sectionPrincipal {
    width: 100%;
    justify-content: flex-start;

}

.graphic-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem; /* Ajuste conforme necessário */
    text-align: center;
}

.txtgraph{
 margin-bottom: 1rem;   
 font-style: normal;
 font-weight: 600;
 color: black;
}

.graphic1{
    width: 30%;
    display: flex;
    display: inline-block;

}

.graphic2{
    width: 60%;
    display: flex;
    display: inline-block;
}

.graphic-container2 {
    margin: 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
}

.graphic3 {
    width: 95%;
    display: flex;
    display: inline-block;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
}

body{
overflow-x: hidden;
}