.title-section{
    display: block;
    font-size: 18px;
}
.section-button{
    width: 98%;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

.section-button button{
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
}

.section-button button:hover{
    cursor: pointer;
}

.section-button button a{
    color: black;
}



.producer-info{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20%;
}

.business-name,
.producer-name{
    font-size: 25px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.business-name{
    font-size: 18px;
}

.phone-number,
.identifiers{
    font-weight: 500;
}

.phone-number{
    margin-bottom: 5px;
}

.phone-number span,
.identifiers span{
    font-weight: 400;
    margin: 10px;
}

.identifiers p{
    margin-bottom: 5px;
}


.location-info{
    margin: 10px 0;
}
.location{
    background-color: #40685B;
    display: inline;
    padding: 3px 10px;
    color: white;
}

.address{
    display: inline;
    margin-left: 15px;
    font-weight: 500;
}

.section-certificate {
    
    margin-bottom: 20px;
    width: 98%;
}

.section-certificate-seta {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 5px;
}

.section-certificate-seta > div {
    display: flex;
    flex: 1;
    position: relative;
}

.seta-retangulo {
    flex: 1;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    position: relative;
    z-index: 1;
}

.seta-triangulo {
    width: 30px;
    height: 25px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    position: absolute;
    right: -15px;
    z-index: 10;
}

.section-certificate-seta > div + div {
    margin-left: -15px; /* Sobreposição de 15 pixels */
}

.seta-triangulo-ultima {
    position: static;
}

/* Cores das setas */
.azul {
    background-color:#3B6E36;
}

.vermelho {
    background-color:#6C6C6C;
}

.preto {
    background-color: #1C5278;
}

.cinza {
    background-color:#1C758A;
}

.amarelo {
    background-color: #CC9900;
}

