
#feedbackPassword, #feedbackConfirmPassword{
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    padding-bottom: 5px;
}

.formButtons{
    width: 100%;
    height: 40%;
    align-items: end;
    justify-content: flex-end;
}

.formButtons button{
    margin: 10px 0 10px 20px;
}