<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= "../style/stylePasswordReset.css">
    <link rel="stylesheet" href="../media/mediaPasswordReset.css">

</head>
<body>
    
    <div class="content">

        <h1 class="titulo1">QUEIJOS</h1>
        <h1 class="titulo2">FINOS</h1>

        <h2 clas="informativeTitle">
            Recuperação de Senha
        </h2>

        <p class="informativeText">
            Para redefinir sua senha, insira seu endereço de Email no campo abaixo e clique em "Enviar". Você receberá um Email com instruções sobre como redefinir sua senha. Certifique-se de verificar sua pasta de spam se não receber o e-mail dentro de alguns minutos.
        </p>

        <form id="form" action="/PasswordReset" method="post">
            <div>
                <input type="text" id="email" name="email" placeholder="E-mail de acesso" class="inputs required" oninput="emailValidate()" >
                <span class="span-required">Informe um E-mail válido</span>
            </div>
        
            <p class="loginError" th:if="${not #strings.isEmpty(erro)}" th:text="${erro}" ></p>

            <button type="submit">Enviar</button>
        </form>
        
    </div>

    <!-- <script src="script/scriptLogin.js"></script> -->

</body>
</html>
